.about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-title {
    display: flex;
    gap: 1rem;
    align-items: center;
    letter-spacing: 0.2rem;  
}

.about-text {
    line-height: 1.5;
}