:root{
    --color-bg: #ebf2fa;
    --color-surface: #f2f5f9;

    --color-text-heading: #0B0909;
    --color-text-body: #1A1003;

    --color-primary: #ff9c1a;
    --color-secondary: #ec1b09;

    --color-error: #ec1b09;
}

