/* === root = settings för hela dokumentet. Globala css-variabler som ska återanvändas ===*/
:root {
    /* var(--namn-) */
    --color-bg: #ebf2fa;
    --color-surface-1: #f2f5f9;
    --color-surface-2: #FFF;
    --color-surface-3: #FFEBD1;

    --color-text-body: #1A1003;
    --color-text-muted: #5C5C5C;
    --color-text-medium: #2e2e2e;
    --color-text-border: rgba(128, 128, 128, 0.239);

    --color-primary: #ff9c1a;
    --color-secondary: #ec1b09;

    --gradient-accent-default: linear-gradient(90deg, #DD7E00 0%, #E46E00 50%, #ec1b09 100%);
    /* focus */
    --gradient-accent-focus: linear-gradient(90deg, #F4991A 0%, #F07E1A 50%, #F33D22 100%);
    /* hover */
    --gradient-accent-hover: linear-gradient(90deg, #E88C00 0%, #F07800 50%, #F02D0F 100%);
    /* active */
    --gradient-accent-active: linear-gradient(90deg, #C96A00 0%, #DA5F00 50%, #D31A08 100%);

    --color-error: #ec1b09;

    --font-headings: "Poppins", sans-serif;
    --font-body: "Raleway", sans-serif;

    /* knappar */
    --radius-pill: 20px;

    /* spacing (gap, padding, margin) */
    /* ikon + text i knappar/kontaktkort */
    --space-xxs: 0.25rem;
    /* sociala medie-ikoner sidebar */
    --space-xs: 0.5rem;
    /* phone/email informationskort */
    --space-sm: 0.75rem;
    /* padding i större kort */
    --space-md: 1rem;
    /* kontakt-kort */
    --space-lg: 1.5rem;
    /* mellan stora sektioner */
    --space-xl: 2rem;

    /* breakpoints i media queries (responsiv design) får vara i px?*/
    --bp-mobile: 480px;
    --bp-tablet: 768px;
    --bp-desktop: 1024px;
}

/* === Reset === */
*,
*::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body), system-ui, sans-serif;
    /* WCAG */
    line-height: 1.5;
    /* Fallback */
    background-color: #ebf2fa;
    color: var(--color-text-body);
}

h1,
h2,
h3 {
    font-family: var(--font-headings);
    color: var(--color-text-medium);
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

/* 100%: bilder anpassar sig till containern (blir aldrig större än), responsivitet. I utbildningsreset, inte branch-standard ?*/
img {
    /* Gör att bilden aldrig blir större än sin container */
    max-width: 100%;
    /* Undvika white gap under bilden som blir med inline-element  */
    display: block;
    /* förhindra att browser ger fast höjd, oproportionerlig/ihoptryckt. Jobbar med max-width: 100%, räknar ut höjden i förhållande till bredden så att bilden håller sina proportioner */
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Inte få browser-standard font */
button,
input,
textarea {
    font: inherit;
}

/* === Global basestyling === */


/* Sätter hover underline för att särskilja länkarna enligt WCAG, eftersom jag stylat bort länk-utseendet */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.15rem;
}

/* navbar, scrollning sker på rootelementet */
html {
    scroll-behavior: smooth;
}

/* gör att tillgänlgighets-"Öppna meny"-texten i hamburger-menu är osynlig på mobilvy sidan */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}