.main-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-wrapper {
    min-height: calc(40vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: grid;
    /* text/bild */
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;

    border-bottom: 4px solid var(--color-primary);
    border-right: 4px solid var(--color-primary);
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.hero-title {
    margin-bottom: 2rem;
}

.hero-img {
    /* max-width är tak. På stor skärm bredd 18, men mindre om containern blir mindre */
    width: 18rem;
    max-width: 100%;
    align-self: center;
}

.btn-cta {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    max-width: 8rem;
    padding: 0.7rem 1rem;
    border-radius: var(--radius-pill);
    border: none;
    background: var(--gradient-accent-default);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
    white-space: nowrap;
    transition: transform 0.15s ease, opacity 0.2s ease;

    margin-bottom: 2.5rem;
}

.btn-cta:focus-visible {
    outline: 3px solid #0B5FFF;
    outline-offset: 3px;
    filter: brightness(1.07);
}

.btn-cta:hover {
    background: var(--gradient-accent-hover);
    transform: translateY(-1px);
    text-decoration: none;
}

.btn-cta:active {
    background: var(--gradient-accent-active);
    transform: translateY(1px);
}




@media (max-width: 67rem) {
    .main-hero {
        display: none;
    }
}