.portfolio-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
}

.portfolio-card {

    background-color: var(--color-surface-1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
}

.portfolio-project-title {
    font-size: 1.1rem;

}

.portfolio-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-live {
    display: inline-block;
    max-width: 7rem;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.btn-github {
    padding: 0.5rem 0.5rem;
}


/* =========================== Media queries MOBIL ======================================== */

@media (max-width: 74rem) {
    .portfolio-card {
        padding: 3rem;
    }
}