.portfolio-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}

.portfolio-card {

    background-color: var(--color-surface-1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
    padding: 2rem;
}

.portfolio-project-title {
    font-size: 1.1rem;

}

.portfolio-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: auto;

}

.project-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-live {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.btn-github {
    padding: 0.5rem 0.5rem;
}


/* =========================== Media queries MOBIL ======================================== */

/* @media (max-width: 74rem) {
    .portfolio-card {
        padding: 3rem;
    }
} */

@media (max-width: 64rem) {
    .portfolio-wrapper {
        grid-template-columns: 1fr;
    }
}